code {
  font-size: 12px;
}

.history__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.cloud {
  font-size: 28px;
  color: black;
}

.history__queries {
  margin-top: 20px;
}

.history__queries .history__query {
  margin-top: 10px;
  background-color: white;
  border-radius: 3px;
}
